  <!--Nav Bar-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">National Catholic Register News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved Articles</a>
        </li>
        <li class="nav-item">
         	<button href="" id="scrape-news" class="btn">Scrape news</button>
        </li>
      </ul>
    </div>
  </nav>

  <!--Main Title-->
  <div class="main-title">
    <div class="title-info">
      <div class="title-wrapper">
        <h1 class="text-center title-text">Mongo News Scraper</h1>
        <h1 class="text-center main-lead">NC Register Edition</h1>
      </div>
    </div>
  </div>
  
  <div class="articles">
    <!--Message if no articles in db-->
    {{#unless articles}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title alt-title">No articles found!</h5>
        <p class="card-text">Sorry, no articles scraped yet. Click scrape in the menu to find some new articles!</p>
      </div>
    </div>
    {{/unless}}

    <!--Format for each article in db-->
    {{#each articles}}
    <div class="card">
      <div class="card-body">
        <a href="{{URL}}"><h5 class="card-title">{{headline}}</h5></a>
        <p class="card-text">{{summary}}</p>
        <a class="btn save-btn" data-id="{{_id}}">Save Article</a>
      </div>
    </div>
    {{/each}}
  </div>

  <!--Modal to appear after scrapes-->
  <div class="modal" tabindex="-1" role="dialog" id="scrape-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title scrape-modal-title">Modal title</h5>
          <button type="button" class="close dismiss-scraper-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="scrape-modal-body">Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-scrape-modal dismiss-scraper-modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p class="text-center">Original articles can be found <a href="https://www.ncregister.com">here</a></p>
  </footer>